body {
	font-family: 'Roboto', sans-serif;

}

.main {
	background: url('../images/bg.jpg') center center;
	background-size: cover;
	padding-top: 30px;
	padding-bottom: 60px;
}

.logo {
	height: 50px;
	position: fixed;
	top:20px;
}

.main .headline {
	text-transform: uppercase;
	color: #FFF;
	font-size: 46px;
	padding-top: 30px;
	text-align: center;
}

.main .call-to-action {
	text-align: center;
	padding-top: 50px;
}


.main .headline-caption{
	color: #FFF ;
	text-align: center;
	padding-top: 30px;
	font-size: 24px;
}

.main .navbar-latam {
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);

}


.bajada {
	text-align: center;
}


.jumbo {
	
	background-color: black;
}

.jumbotron {
	text-align: center;
	background-color: yellow;
	margin-top: 20px;
	border: solid 2px;
	border-color: red;
	font-weight: bold;
}

.jumbotron .p {
	font-size: 300px;
}

.color1{
	background-color: olive;
}

.color2{
	background-color: peru;
}

.form-horizontal {
	padding-top: 20px;
}

.datos .btn {
	position: absolute;
	right: -180px;
}

.empresas{
	background-color: lightblue;
}

.logo_empresas{
	float: left;
	width: 150px;
	margin-right: 50px;
	margin-top: 20px;
}


.hacker {
	background: url('../images/probg.jpg') center center;
	background-size: cover;
	padding-top: 20px;
	color: #FFF;
	text-align: center;
	
}




.social {
width: 75px;
float: right;
right:0px;
}